#header {
    display: none;
}

#main {
    padding-top: 0;
}

.pf-1024 {
    margin: 0 auto;
    position: relative;
    width: 1024px;
}

.pf-header {
    padding-top: 18px;
}

.pf-logo {
    background: url("../images/portfolio-logo.png") no-repeat;
    text-indent: -999px;
    width: 482px;
    height: 49px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.logo-hm {
    background: url("../images/logo-hm.png") no-repeat;
    width: 60px;
    height: 58px;
    display: inline-block;
    float: left;
}

.like-share {
    float: right;
    padding-top: 20px;
}

.like-share a {
    width: 49px;
    height: 19px;
    line-height: 19px;
    display: inline-block;
    color: #ffffff;
    font-size: 9px;
    text-align: center;
}

.like-share .like {
    background: #0072bc;
}

.like-share .share {
    background: #9a9a9a;
}

.pf-banner {
    margin: 0;
    padding: 50px 0 0;
    text-align: center;
}

.pf-follow {
    background: url("../images/bgfollow.jpg") no-repeat center 0;
    background-size: cover;
    padding: 65px 0 38px 0;
}
.pff-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pf-follow li {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.pf-follow li .item {
    color: #ffffff;
}

.pf-follow li .item span {
    width: 100%;
    display: block;
}

.pf-follow li .item .num {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

.pf-follow li .item .num:after {
    content: '';
    background: #e89d20;
    width: 109px;
    height: 3px;
    display: block;
    margin: 13px auto;
}

.pf-follow li .item .text {
    font-size: 18px;
    margin: 0 auto;
    width: 150px;
    height: 44px;
}

.left-a {
    float: left;
    width: 470px;
}
.right-a {
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    box-shadow: 0 1px 2px rgba(135, 135, 135, 0.75);
    margin-left: 470px;
    min-height: 470px;
    padding: 30px 17px 40px 38px;
    position: relative;
    z-index: 1;
}

.right-a .lbl {
    width: 347px;
    height: 71px;
    background: #0070ba;
    text-align: center;
    margin-left: -77px;
    box-shadow: 2px 2px 2px #717171;
}

.right-a .lbl h3 {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    padding-top: 23px;
}

.right-a .details {
    padding-top: 30px;
}

.right-a .row-a {
    height: 74px;
    padding-top: 15px;
    border-bottom: 1px solid #828282;
}

.right-a .row-a:last-child {
    border-bottom: none;
}

.right-a .row-a .big {
    text-transform: uppercase;
}

.right-a .row-a .left, .right-a .row-a .right {
    width: 50%;
    float: left;
}

.right-a .row-a .text p {
    margin: 2px 0 0 50px;
}

.right-a .row-a .text a {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 199px;
}

.icoleft {
    width: 50px;
    float: left;
    display: inline-block;
}

.ico-user {
    background: url("../images/u.png") no-repeat -6px 3px;
    width: 36px;
    height: 37px;
    display: block;
}

.ico-work {
    background: url("../images/bgadress.png") no-repeat;
    width: 23px;
    height: 37px;
    display: block;
}

.ico-subject {
    background: url("../images/bgsach.png") no-repeat;
    width: 36px;
    height: 24px;
    display: block;
}

.ico-degree {
    background: url("../images/bgmu.png") no-repeat;
    width: 38px;
    height: 24px;
    display: block;
}

.ico-email {
    background: url("../images/bgemail.png") no-repeat;
    width: 33px;
    height: 22px;
    display: block;
}

.ico-facebook {
    background: url("../images/bgfb.png") no-repeat;
    width: 26px;
    height: 26px;
    display: block;
}

#pf-story {
    background: #fff1da;
}

#pf-news {
    background: #fff1da;
    margin-top: 50px;
    padding-bottom: 50px;
}

.pf-story {
    padding-top: 60px;
}

.pf-story .story-title {
    margin-bottom: 35px;
}

.pf-story .story-share {
    float: right;
    height: 21px;
    margin-right: 30px;
    margin-top: -26px;
    text-align: center;
}

.pf-story .story-img {
    float: left;
    width: 368px;
    box-shadow: 5px 10px 2px #d2d3d3;
}
.pf-story .bx-wrapper {
    float: right;
}
.pf-story .bx-wrapper .bx-viewport{
    background: transparent;
    border: none;
    box-shadow: none;
}
.pf-story .bx-wrapper .bx-pager {
    bottom: 0;
    padding-left: 330px;
}

.pf-story .bx-wrapper .bx-pager.bx-default-pager a {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.pf-story .bx-wrapper .bx-pager.bx-default-pager a:hover, .pf-story .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #5d5d5d;
}

.pf-story .bx-wrapper .bx-pager.bx-default-pager a {
    background: #b9b9b9;
}

.story-title:after {
    content: '';
    background: url("../images/bg-storyline.png") no-repeat;
    width: 257px;
    height: 10px;
    display: block;
    margin: 16px auto 0 auto;
}

.story-title .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.pfs-image {
    box-shadow: 8px 8px 5px 0 rgba(205, 205, 205, 0.75);
    float: left;
    margin: 0 20px 20px 0;
    width: 370px;
}
.pfs-content {
    background: #fef7a4 none repeat scroll 0 0;
    border: medium none;
    box-shadow: 3px 4px 5px 0 rgba(145, 145, 145, 0.75);
    color: #000;
    margin: 25px 25px 25px 330px;
    padding: 30px 10px 30px 40px;
    position: relative;
    z-index: 1;
}
.pfs-content-container {
    height: 250px;
    overflow-y: auto;
    padding-right: 30px;
    position: relative;
}
.pf-testimonial {
    margin-top: 66px;
    text-align: center;
}

.pf-testimonial .story-title {
    margin-bottom: 10px;
}

.pf-testimonial .pf-testimonial-wrap {
    overflow: scroll;
    height: 300px;
    padding: 10px 50px;
    position: relative;
}

.pf-testimonial .row-t:after {
    content: '';
    background: url("../images/bg-testline.png") no-repeat;
    width: 84px;
    height: 10px;
    display: inline-block;
}

.pf-testimonial .row-t:last-child:after {
    background: none;
}

.pf-testimonial .row-t .title {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0;
}

.pf-testimonial .row-t p {
    color: #000;
    margin-bottom: 20px;
}

.pf-media {
    margin-top: 56px;
}

.pf-media .story-title {
    margin-bottom: 38px;
}

.pf-media .bx-wrapper .bx-viewport {
    border: none;
    box-shadow: 0 0 0 #ffffff;
}

.pf-media .bx-wrapper .bx-controls-direction a {
    width: 51px;
    height: 52px;
    margin-top: -30px;
}

.pf-media .bx-wrapper .bx-prev {
    left: -35px;
    background: url("../images/arrow-prev.png") no-repeat;
}

.pf-media .bx-wrapper .bx-next {
    right: -30px;
    background: url("../images/arrow-next.png") no-repeat;
}

.pf-media .bx-wrapper .bx-next:hover {
    background-position: 0;
}

.pf-media .item .caption {
    border: 1px solid #7f8181;
    border-top: none;
    padding: 16px 18px 0 18px;
    box-shadow: 2px 2px 2px #c7c7c7;
}

.pf-media .item .caption p {
    font-size: 12px;
    color: #000;
}

.pf-media .item .caption a {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 193px;
    max-height: 29px;
}

.pf-course {
    margin-top: 86px;
}

.pf-course .story-title {
    margin-bottom: 30px;
}

.pf-course .bx-wrapper .bx-viewport {
    border: 0;
}

.pf-course .bx-wrapper .bx-controls-direction a {
    top: 420px;
}

.pf-course .bx-controls-direction {
    text-align: center;
}

.pf-course .bx-wrapper .bx-prev {
    left: 47%;
    background: url("../images/course-prev.png") no-repeat;
}

.pf-course .bx-wrapper .bx-next {
    right: 46%;
    background: url("../images/course-next.png") no-repeat;
}

.pf-course .bx-wrapper .bx-next:hover {
    background-position: 0 0;
}

.pf-course .bx-controls {
    margin-bottom: 50px;
}

.pf-course-slider {
    background: #0072bc;
    overflow: hidden;
}

.pfc-item {
    background: #0072bc none repeat scroll 0 0;
    color: #fff;
    padding: 30px 10px 40px 30px;
}

.pfc-left {
    float: left;
    width: 265px;
}

.pfc-right {
    float: left;
    margin-left: -265px;
    width: 100%;
}
.pfc-right-content {
    color: #ffffff;
    height: 245px;
    margin: 25px 0 25px 305px;
    overflow-y: auto;
    padding-right: 20px;
    position: relative;
}
.pfc-image {
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5);
}
.pfn-image .pfn-yt {
    display: block;
    position: relative;
}
.pfn-image .pfn-yt::before {
    background: transparent url("../images/yt-icon.png") no-repeat scroll center center;
    content: "";
    display: block;
    height: 34px;
    left: 50%;
    margin-left: -21px;
    margin-top: -17px;
    position: absolute;
    top: 50%;
    width: 43px;
}
.ytembed {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
.ytmodal .modal-body{
    padding-top: 30px;
}
.ytmodal .close {
    display: block;
    font-size: 35px;
    font-weight: 300;
    height: 22px;
    line-height: 0;
    position: absolute;
    right: 15px;
    text-transform: uppercase;
    top: 5px;
    width: 22px;
}

/* hide desktop */
.pf-media-m, .pf-course-m, .story-content-m {
    display: none;
}

@media only screen and (max-width: 767px) {
    /* hide mobile */
    .pf-media .bx-wrapper, .pf-course .bx-wrapper, .pf-course-slider, .pf-story .bx-wrapper {
        display: none;
    }

    /* show mobile */
    .pf-media-m , .pf-course-m, .story-content-m {
        display: block;
    }

    .wrapper {
        padding: 0;
    }

    .pf-header {
        padding: 10px 10px 0 10px;
    }

    .logo-hm {
        background: url("../images/logo2.png") no-repeat;
        width: 33px;
        height: 33px;
    }

    .like-share {
        padding: 0;
    }

    .pf-follow {
        padding: 30px 0;
    }

    .pf-follow li {
        margin-right: 5%;
    }

    .pf-follow li .item .num {
        font-size: 16px;
    }

    .pf-follow li .item .num:after {
        width: 100%;
        margin: 2px auto 10px auto;
    }

    .pf-follow li .item .text {
        font-size: 10px;
        width: 90%;
        height: 22px;
    }

    .pf-about {
        width: 80%;
        margin: 16px auto 0 auto;
    }

    .pf-about .image img {
        margin: 0 auto;
        display: block;
    }

    .left-a, .right-a {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .right-a {
        padding: 0 10px;
        border-right: none;
        min-height: inherit;
    }

    .right-a .lbl {
        width: 185px;
        height: 38px;
        margin: -14px auto 0 auto;
    }

    .right-a .lbl h3 {
        font-size: 13px;
        padding-top: 12px;
    }

    .right-a .details {
        padding-top: 10px;
    }

    .right-a .row-a {
        padding: 12px 0;
        height: auto;
    }

    .ico-work {
        background: url("../images/address.png") no-repeat;
        width: 12px;
        height: 21px;
    }
    
    .ico-subject {
        background: url("../images/book.png") no-repeat;
        width: 20px;
        height: 13px;
    }

    .ico-degree {
        background: url("../images/hat.png") no-repeat;
        width: 21px;
        height: 13px;
    }

    .ico-email {
        background: url("../images/mail.png") no-repeat;
        width: 18px;
        height: 12px;
    }

    .ico-facebook {
        background: url("../images/fb.png") no-repeat;
        width: 14px;
        height: 14px;
    }

    .row-a .text {
        font-size: 12px;
    }

    .right-a .row-a .text p {
        font-size: 12px;
        margin-left: 32px;
    }

    .right-a .row-a .left, .right-a .row-a .right {
        width: 100%;
        float: none;
    }

    .right-a .row-a .left {
        border-bottom: 1px solid #828282;
        padding-bottom: 10px;
    }

    .right-a .row-a .right {
        padding-top: 10px;
    }

    .icoleft {
        width: 32px;
    }

    .pf-story {
        padding-top: 20px;
    }

    .story-title .title {
        font-size: 14px;
    }

    .pf-story .story-share {
        display: none;
    }

    .story-title:after {
        background: url("../images/story.png") no-repeat;
        width: 155px;
        height: 5px;
        margin-top: 8px;
    }

    .pf-story .story-title {
        margin-bottom: 20px;
    }

    .pf-story .bx-wrapper {
        margin-bottom: 20px;
    }

    #stCarousel .carousel-control.left, #stCarousel .carousel-control.right {
        top: 34%;
    }

    .pfs-image {
        box-shadow: none;
        float: none;
        margin: 0 auto;
        width: 90%;
        height: 190px;
    }

    .pfs-image img {
        display: block;
        margin: 0 auto;
    }

    .pfs-content {
        box-shadow: none;
        margin: 0 auto;
        padding: 10px;
        font-size: 10px;
        width: 90%;
        text-align: center;
        color: #000000;
    }

    .pfs-content-container {
        height: auto;
        padding-right: 0;
    }

    .pfs-content ul {
        padding-left: 10px;
    }

    .pfs-content p {
        margin-bottom: 5px;
    }

    .pf-story .bx-wrapper .bx-pager {
        padding: 10px 0 0 0;
    }

    .pf-story .bx-wrapper .bx-pager.bx-default-pager a {
        width: 10px;
        height: 10px;
    }

    .pf-testimonial {
        margin-top: 30px;
    }

    .pf-testimonial .story-title {
        margin-bottom: 5px;
    }

    .pf-testimonial .row-t .title {
        font-size: 14px;
        margin: 0 0 8px 0;
    }

    .pf-testimonial .row-t p {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .pf-testimonial .row-t:after {
        margin-bottom: 8px;
    }

    #pf-news {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .pf-media {
        margin-top: 20px;
    }

    .pf-media .story-title {
        margin-bottom: 15px;
    }

    .pf-course {
        margin-top: 30px;
    }

    .carousel-control {
        width: 0;
        opacity: 1;
    }

    .carousel-control.left, .carousel-control.right {
        position: absolute;
        display: inline-block;
        width: 33px;
        height: 48px;
        top: 40%;
    }

    .carousel-control.left {
        background: url("../images/left.png") no-repeat;
        left: 6%;
    }

    .carousel-control.right {
        background: url("../images/right.png") no-repeat;
        right: 6%;
    }

    .pfn-image img {
        margin: 0 auto;
        display: block;
    }

    .pf-media .item .caption {
        width: 230px;
        margin: 0 auto;
        box-shadow: none;
        background: white;
        padding: 15px;
    }

    .pf-media .item .caption p {
        margin: 0;
    }

    .pfc-item {
        padding: 30px 0;
    }

    .pfc-image {
        box-shadow: none;
        margin: 0 auto;
    }

    .pfc-image img {
        margin: 0 auto;
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width:992px) {
    .right-a {
        padding: 30px 15px;
    }

    .right-a .lbl {
        width: 300px;
        height: 60px;
        margin-left: -38px;
    }

    .right-a .lbl h3 {
        font-size: 20px;
        padding-top: 20px;
    }

    .right-a .details {
        padding-top: 0;
    }

    .icoleft {
        width: 46px;
    }

    .right-a .row-a {
        padding: 15px 0;
        height: auto;
    }

    .right-a .row-a .text p {
        margin-left: 46px;
    }

    .right-a .row-a .left, .right-a .row-a .right {
        width: 100%;
        float: none;
    }

    .right-a .row-a .left {
        border-bottom: 1px solid #828282;
        padding-bottom: 15px;
    }

    .right-a .row-a .right {
        padding-top: 15px;
    }

    .pf-media .item .caption a {
        width: 100%;
    }

    .pf-media .bx-wrapper .bx-prev {
        left: 0;
    }

    .pf-media .bx-wrapper .bx-next {
        right: 0;
    }

    .pf-story {
        padding-top: 40px;
    }

    .pf-testimonial, .pf-media, .pf-course {
        margin-top: 40px;
    }
}