@model IList<tblMenu>
<header>
    <div class="header-top">
        <div class="top-header">
            <div class="container h-100">
                <div class="row no-mg d-flex justify-content-between h-100">
                    <div class="left-top-header w-40 d-flex justify-items-between align-content-center">
                        <div class="logo box-img">
                            <a href="index.html">
                                <img alt="Học trực tuyến - Hệ thống giáo dục HOCMAI"
                                     src="assets/front/images/logo.png"/>
                                <!-- <img alt="Học trực tuyến - Hệ thống giáo dục HOCMAI" src="assets/front/images/logo-tet/logo.png"/> -->
                            </a>
                        </div>
                        <div class="box-search d-flex align-items-center w-100">
    <form action="http://www.google.com/cse" id="searchbox_010300067520719380069:juk63mmvixu" class="w-100">
        <input type="text" type="text" name="q" class="text_search" placeholder="Tìm kiếm khóa học"/>
        <div class="position-relative d-inline-block">
            <input type="submit" name="sa" class="btn-search"/>
        </div>
        <input type="hidden" name="cx" value="010300067520719380069:juk63mmvixu" />
        <input type="hidden" name="siteurl" value="https://hocmai.vn/index.php?instanceid=4930&sesskey=ttnHMIwcKT&blockaction=config" />
        <input type="hidden" name="ref" />
        <input type="hidden" name="ss" />
    </form>
</div>
                    </div>
                    <div class="right-top-header w-60 d-flex justify-content-end">
                        <div class="hotline d-flex align-items-center">
                            <span class="fw-600" style="display: -webkit-box;display: -ms-flexbox;display: flex;"><svg
                                        style="width: 20px; height: 20px;  margin-right: 10px; transform: rotate(90deg);" aria-hidden="true" focusable="false"
                                        data-prefix="fas" data-icon="phone" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                        class="svg-inline--fa fa-phone fa-w-16 fa-5x"><path fill="currentColor"
                                                                                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                                                                                            class=""></path></svg>1900 6933</span>
                        </div>

                                                <div class="user">
                            <ul class="clear-list mb-0 d-flex flex-row position-relative">
<!--                            <li class="count_cart">-->
<!--                                <a href="https://hocmai.vn/cart">-->
<!--                                    --><!--                                        <div class="have-notifi-cart">--><!--</div>-->
<!--                                    --><!--                                    <i>-->
<!--                                        <svg xmlns="http://www.w3.org/2000/svg"-->
<!--                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"-->
<!--                                             id="Capa_1" x="0px" y="0px" viewBox="0 0 456.029 456.029"-->
<!--                                             style="enable-background:new 0 0 456.029 456.029;"-->
<!--                                             xml:space="preserve" fill="#888888"  width="22" height="24">-->
<!--                                                    <g>-->
<!--                                                        <g>-->
<!--                                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248    c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"/>-->
<!--                                                        </g>-->
<!--                                                    </g>-->
<!--                                            <g>-->
<!--                                                <g>-->
<!--                                                    <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48    C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064    c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4    C457.728,97.71,450.56,86.958,439.296,84.91z"/>-->
<!--                                                </g>-->
<!--                                            </g>-->
<!--                                            <g>-->
<!--                                                <g>-->
<!--                                                    <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296    c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"/>-->
<!--                                                </g>-->
<!--                                            </g>-->
<!--</svg>-->
<!--                                    </i>-->
<!--                                </a>-->
<!--                                <div class="sub noti-box">-->
<!--                                    <span class="notifi-header">Thông báo</span>-->
<!--                                    <ul class="clear-list">-->
<!--                                    </ul>-->
<!--                                    <button class="notifi-readmore">Xem thêm</button>-->
<!--                                </div>-->
<!--                            </li>-->
                            </ul>
                        </div>
                            <div class="info-member d-flex align-items-center">
                                <a class="btn-acc btn-login" href="loginv2/index.html">Đăng
                                    Nhập</a>
                                <a class="btn-acc btn-register bg-orange cl-white"
                                   href="loginv2/signup.html">Đăng Ký</a>

                            </div>
                                                </div>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <div class="row no-mg">
                    <nav class="w-100 box-menu-top">
                        <ul class="top-menu clear-list">
                            @foreach (var menu in Model.Where(m=> m.Levels ==1).OrderBy(m=> m.MenuOrder))
                                {
                                    var pID= menu.MenuId;
                                    var sMenu = Model.Where(s=> s.ParentId == pID).OrderBy(s=> s.MenuOrder).ToList();
                                    if(sMenu.Count==0)
                                    {
                                        <li><a asp-controller=@menu.ControllerName asp-action=@menu.ActionName>@menu.MenuName</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                        <a asp-controller=@menu.ControllerName asp-action=@menu.ActionName>@menu.MenuName</a>
                                            <ul class="sub-menu-top clear-list">
                                                @foreach (var smn in sMenu)
                                                {
                                                    <li><a asp-controller=@menu.ControllerName asp-action=@menu.ActionName>@smn.MenuName</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }    
                                      
                                              
                        </ul>
                        <!--                        <div class="btn-switch-theme">-->
                        <!--                            <a href="https://hocmai.vn/?themeNew=old">-->
                        <!--                                <span>Chuyển về giao diện cũ</span>-->
                        <!--                                <img alt="Chuyển về giao diện cũ" src="assets/front/images/btn-active.png">-->
                        <!--                            </a>-->
                        <!--                        </div>-->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>